name: Jupyter Book GitHub Pages Deploy

on:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Jupyter Book
        run: pip install jupyter-book
      - name: Build HTML Assets
        run: jupyter-book build .
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./book/_build/site
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4